@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
::-webkit-scrollbar{width:12px;height:10px;background-color:#eee}::-webkit-scrollbar-thumb{background-color:#000;border-radius:20px}
.scrollbar-hidden::-webkit-scrollbar { display: none;}
.scrollbar-hidden { -ms-overflow-style: none;   scrollbar-width: none; }
html[data-theme="dark"]{background-color: #050129;}
html[data-theme="dark"] .project-card{border-color: #55536f;}
.banner-subtitle,.custom-button,.joined-btn,a,body,div,h1,h2,h3,h4,h5,h6,input,p{font-family: 'Roboto', sans-serif;color:#000}
.icon {display: inline-block;background: var(--darktheme-icons) no-repeat !important;vertical-align: middle;height: 24px;width: 24px;}
.carousal-banner{  background-image: linear-gradient(#D9CAF5, #EBEDD1, #FFD7D7);}
.usdt{background-position: -9px -72px !important; width: 16px;height: 16px;}
.matic{background-position: -26px -71px !important; width: 16px;height: 16px;}
.wallet{background-position: -7px -7px !important;height: 25px !important;width: 26px !important; }
.walletPuchase{height: 52px;width: 52px;background-position: -67px -100px !important;}
.stake{height: 52px;width: 52px;background-position: -7px -100px !important;}
.completeKyc{height: 52px;width: 52px;background-position:  -195px -102px !important;}
.check{height: 52px;width: 52px;background-position: -132px -100px !important;}
.applynowSection{ background: linear-gradient(180deg, #D9CAF5 0%, #EBEDD1 52.08%, #FFD7D7 100%);}
.navbar-center li a:active,.dropdown-content li a:active{background-color: transparent !important;color: #D60000 !important;}
.project-card{box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);}
.facebook-md{background-position: -76px -37px !important;width: 28px;height: 28px;}
.instagram-md{background-position: -42px -37px !important;width: 28px;height: 28px;}
.telegram-md{background-position:-9px -37px !important;width: 28px;height: 28px;}
.discord-md{background-position:-109px -37px !important;width: 28px;height: 28px;}
.network-md{background-position:-142px -37px !important;width: 28px;height: 28px;}
.greenDot{background-position:-41px -71px !important;width: 14px;height: 14px;}
.coinName{background-position:-25px -71px !important;width: 14px;height: 14px;}
.coinSymbol{background-position:-9px -71px !important;width: 14px;height: 14px;}
.twitter-md{background-position:-446px -40px !important;width: 28px;height: 28px;}
.facebook,.facebook-md:hover{height: 28px; width: 28px; background-position: -69px -158px !important;}
.insta,.instagram-md:hover{height: 28px;width: 28px;background-position:-38px -159px !important;}
.telegram,.telegram-md:hover{height: 28px;width: 28px; background-position:-6px -159px !important;}
.twitter,.twitter-md:hover{height: 28px;width: 28px; background-position:-662px -159px !important;}
.discord,.discord-md:hover{height: 28px;width: 28px; background-position:-100px -159px !important;}
.globe,.network-md:hover{height: 28px;width: 28px; background-position:-131px -159px !important;}
.playStore{background-position: -254px -39px !important;height: 24px;width: 24px;}
.iStore{background-position: -288px -42px !important;height: 24px;width: 24px;}
.breadcrumbs > ul > li + *::before{content: none;}
.breadcrumbs > ul > li:not(:last-child)::after{  background-position:-146px -12px !important;   content: "/";width: fit-content !important;padding-left: 4px;padding-right: 4px; }
.breadcrumbs > ul > li{line-height: normal;}
.noScrollbar::-webkit-scrollbar{scrollbar-width: none;display: none;}
.customTabs .tab{line-height: normal;}
.breadcrumbs > ul > li + *:before, .breadcrumbs > ol > li + *:before{content: none !important;}
.bgDaocard{box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25); }
.tableBg{background: url(../images/table_bg.svg)no-repeat;background-size: cover;height: 100%;}
.tokenomicsTable table td{color: #000; line-height: normal; padding-top: 16px; padding-bottom: 16px;}
.private{background-position: -225px -9px !important;}
.public{background-position:-256px -9px !important;}
.team{background-position:-166px -9px !important;}
.advisors{background-position: -195px -9px !important;}
.roadMap{background: url(../images/roadmapbg.svg)no-repeat;padding: 38px;background-size: cover;height: 100%;}
.rightArrow{background-position: -410px -11px !important;height: 20px;width: 20px;}
.closeIcon{width: 24px;height: 24px;background-position: -285px -9px !important;cursor: pointer;}
.successGif{background: url(../images/success.gif);background-position: center;}
.allocationtable thead{box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);}
.allocationtable tbody tr{box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);}
.allocationtable tbody tr:first-child{background: #F0EEEE;color: #000;}
.projectCard{box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);}
.usdt{background-position: -9px -72px !important; width: 16px;height: 16px;}
.matic{background-position: -26px -71px !important; width: 16px;height: 16px;}
.shop{background-position: -157px -210px !important;height: 24px;width: 24px;}
.activeshop{background-position:-157px -241px !important;height: 24px;width: 24px;}
.icon.md.stake-user{background-position:-398px -111px !important;}
.icon.md.apy,.icon.md.stake-user,.icon.md.ybc{width:43px;height:42px}
.icon.md.ybc{background-position:-333px -111px !important;}
.icon.md.apy{background-position:-264px -111px !important;}
.icon.active-checkpoint{background-position: -170px -161px !important;}
.icon.checkpoint{background-position: -205px -161px !important;}
.icon.checkpoints{height: 24px;width: 24px;background-position:-11px -208px !important;}
.icon.checkpointsActive{background-position:-11px -241px !important;}
.icon.amount{background-position:-44px -208px !important;}
.icon.amountActive{height: 24px;width: 24px;background-position:-44px -239px !important;}
.icon.confirm{background-position:-102px -208px !important;}
.icon.confirmActive{height: 24px;width: 24px;background-position:-102px -239px !important;}
.icon.confirmation{background-position:-130px -210px !important;}
.icon.confirmationActive{height: 24px;width: 24px;background-position:-130px -239px !important;}
input[type=checkbox]+span{ display: inline-block;background: var(--darktheme-icons) no-repeat !important;display: inline-block;width: 24px;height: 24px;background-position: -4px -273px !important;position: absolute;left: 0;}
input[type=checkbox]:checked+span{ display: inline-block;background: var(--darktheme-icons) no-repeat !important;vertical-align: middle;height: 24px;width: 24px;background-position: -4px -296px !important;}
.icon.xxl.exclamation{background-position:-7px -387px !important;width:68px;height:68px}
.icon.warningactive{background-position:-188px -242px !important;}
/* .icon.confirmationActive{} */
.icon.warning{background-position:-187px -212px !important;}
.card{box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);}
.progress-bar{background-color: #078805 !important;height: 6px;border-radius: 8px;}
.profile-tabs .tab:is(input:checked){background: #D60000;border: transparent;color: #fff;}
.profile-tabs .tab:is(input[type="radio"]):after{font-size: 14px;}
.profile-tabs .tab:is(input[type="radio"]){border-bottom-right-radius: 12px; border-bottom-left-radius: 12px;}
.form-select,.input-style .form-control,.input-style input{background:#0000!important;border-radius:5px;color:#000!important;font-size:16px!important;font-weight:400!important;height:46px!important;padding:12px 12px!important;width:100%!important}
button.bg-primary:hover{opacity: 0.7;}
.allocationtable tbody tr{border-radius: 8px;box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);}
.allocationtable td{padding-top: 16px;padding-bottom: 16px;}
.discussion-replay label{display: none;}
html[data-theme="dark"] .daorightpanel-bg{background-color: #515151;}
.daorightpanel-bg{background-color: #F5F5F5;}
.menu-active{background-color: transparent !important;color: #D60000 !important;}
.sidebar {height: 100%;  width: 0;  position: fixed;  z-index: 1;  top: 63px;  left: 0;  overflow-x: hidden;transition: 0.3s;}
.openbtn {  font-size: 20px;  cursor: pointer;  background-color: #111;  color: white;  padding: 10px 15px;  border: none;}
.openbtn:hover {  background-color: #444;}
.icon.home{height: 26px;width: 26px;background-position: -9px -469px !important;}
ul li:hover .icon.home{height: 26px;width: 26px;background-position: -9px -502px !important;}
.icon.trending{height: 26px;width: 26px;background-position: -44px -469px !important;}
ul li:hover .icon.trending{height: 26px;width: 26px;background-position: -44px -502px !important;}
.icon.channels{height: 26px;width: 26px;background-position: -44px -469px !important;}
ul li:hover .icon.channels{height: 26px;width: 26px;background-position: -44px -502px !important;}
.icon.channels{height: 26px;width: 26px;background-position: -81px -468px !important;}
ul li:hover .icon.channels{height: 26px;width: 26px;background-position: -77px -501px !important;}
.icon.movies{height: 26px;width: 26px;background-position: -113px -467px !important;}
ul li:hover .icon.movies{height: 26px;width: 26px;background-position: -114px -501px !important;}
.icon.web-series{height: 26px;width: 26px;background-position: -157px -468px !important;}
ul li:hover .icon.web-series{height: 26px;width: 26px;background-position: -157px -501px !important;}
.icon.toggle-icon { height: 28px; width: 28px; background-position: -304px -158px !important;}
.icon.streaming { height: 20px; width: 20px; background-position: -452px -163px !important;}
.icon.menu-icon { height: 28px; width: 28px; background-position: -324px -38px !important;}
.icon.search { height: 22px; width: 22px;background-position: -344px -161px !important;}
.icon.launchpad { height: 20px; width: 20px; background-position: -425px -164px !important;}
.icon.marketplace { height: 20px; width: 20px; background-position: -400px -165px !important;}
.icon.daos { height: 20px; width: 20px; background-position: -375px -165px !important;}
.header-shadow{box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);}
.icon.eye-view { height: 18px; width: 18px; background-position: -506px -165px !important;}
.icon.clock { height: 18px; width: 18px; background-position: -527px -165px !important;}
.video-icon.icon{background-position: -31px -274px !important;}
.shop-icon.icon{background-position: -414px -333px !important;  width: 40px;  height: 40px;}
.icon.shop-add{background-position:-481px -161px !important;}
.icon.leftarrow-small {height: 24px; width: 18px; background-position: -363px -43px !important;}
.icon.rightarrow-small { height: 24px; width: 18px; background-position: -384px -43px !important;}
.icon.right-arrow{background-position: -369px -333px !important; width: 40px;  height: 40px;}
.icon.left-arrow{background-position: -335px -333px !important; width: 40px;  height: 40px;}
.formselect-arrow{-webkit-appearance: none;background: var(--inputbg) url(https://devmpstorageaccount.blob.core.windows.net/minnapad/down-arrow-white.svg) !important;background-position:right 16px center !important;background-repeat: no-repeat !important;background-size: 12px !important;}
.tier-card{box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);}
.tiercheck.icon{background-position: -219px -211px !important; width:24px ;height: 24px;}
.active-tier .text-secondary{color: #fff;}
.active-tier .tiercheck.icon{background-position: -219px -241px !important;}
.active-tier .stake-btn{background-color: #fff;color: #000 !important;}
.active-tier .stake-btn:hover{background-color: #fff;color: #000 !important;}
.black-gradient{background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 25.17%, #000 71.18%);}
html[data-theme="dark"] button.bg-secondary{background-color: #D60000;}
.icon.like{height: 20px; width: 20px; background-position: -248px -213px !important;}
.tabstyle .tab:is(input:checked){border-radius: 28px; background: #D60000;    border-bottom-right-radius: 28px !important; border-bottom-left-radius: 28px !important;border: none !important;
  font-size: 14px;color: #FFF;font-weight: 600;}
 .tabstyle .tab{border-radius: 28px; background: #D0D0D0;   border-bottom-right-radius: 28px !important; border-bottom-left-radius: 28px !important;border: none !important;
    font-size: 14px;color: #000;font-weight: 600;margin-left: 12px;white-space: nowrap;}
.tab.tab-checked{border-radius: 28px; background: #D60000;    border-bottom-right-radius: 28px !important; border-bottom-left-radius: 28px !important;border: none !important;
  font-size: 14px;color: #FFF;font-weight: 600;}
.icon.like:hover{background-position: -248px -242px !important;}
.input-transparent{background-color: rgba(217, 217, 217, 0.21) !important;}
.icon.like-icon{background-position: -213px -271px !important;}
.icon.unlike-icon{background-position: -185px -271px !important;}
.icon.share{background-position: -160px -271px !important;}
.icon.plus{background-position: -137px -271px !important;}
.icon.drop-arrow{background-position: -82px -66px !important;}
.icon.filter-squre{background-position: -109px -272px !important;}
.icon.filter-dots{background-position: -82px -272px !important;}
.icon.filter-cart{background-position: -53px -272px !important;}
input[type=radio]+span{ display: inline-block;background: var(--darktheme-icons) no-repeat !important;display: inline-block;width: 24px;height: 24px;background-position: -292px -272px !important;position: absolute;left: 0;}
input[type=radio]:checked+span{ display: inline-block;background: var(--darktheme-icons) no-repeat !important;vertical-align: middle;height: 24px;width: 24px;background-position: -292px -294px !important;}
.collapse-arrow > .collapse-title:after{right: 10px !important;}
.image-container {position: relative;animation: bounce 1s infinite;}
.cust-error-bg{align-items:center;background:#FFF4F4;box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);border-radius:8px;display:flex;margin-bottom:16px;margin-top:16px;padding:13px 26px;}.error-title{color:#b21919;font-size:18px;font-weight:600!important;margin-bottom:2px}.error-desc{color:#000;font-size:14px;line-height:20px;margin-bottom:0;word-break:break-word}
.cust-error-bg img{width:32px}
.rating-half.rating-lg input:not(.rating-hidden){width: 1rem !important;}
.dot-green{background:#13B166}
.dot-red{background:red}
.dot-white{background:#fff}
.dot-orange{background:#e97307}
.profile-size:hover .cam-position{cursor:pointer;visibility:visible}
.cam-position{position:absolute;right:40%;top:40%;visibility:hidden;z-index:999}
.profile-size:hover .cam-position{cursor:pointer;visibility:visible}
.icon.close { background-position: -286px -10px !important; width: 20px; height: 20px;}
.refferal-table thead tr{border-radius: 8px;  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);}
.refferal-table tr td,.refferal-table tr th{padding: 16px 20px;}
.refferal-table tbody tr{border-radius: 8px;  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);}
.refferal-table tbody tr:hover{background:#F0EEEE}
.icon.copy-icon{background-position: -433px -9px !important;}
.check-icon{background-position: -462px -11px !important;}
:where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(.active):focus,.menu li > *:not(ul):not(.menu-title):not(details):active{background-color: transparent !important;color: var(--s) !important;}
@keyframes bounce{0%,100%{transform:translateY(0)}50%{transform:translateY(-20px)}}
.loading-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5);z-index:9999;display:flex;justify-content:center;align-items:center}
.icon.card-cart{background-position: -242px -271px !important;}
.icon.card-shop{background-position: -317px -269px !important;}
.add-cart:hover .icon.card-cart{background-position: -242px -293px !important;}
.shop-card:hover .icon.card-shop{background-position: -317px -293px !important;}
.like-white.icon{background-position:-268px -273px !important;}
.like-white.icon:hover,.like-white.icon.active{background-position: -247px -240px !important;scale: 0.8;}
.add-cart:hover span,.shop-card:hover span{color: #D60000 !important;}
div.tabs:has(> input:checked) {display: grid !important;}
.tabs{display: flex !important;}
.text-3lines{ display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;  overflow: hidden;}
.icon.matic-detail{background-position: -551px -160px !important;}
.icon.eye{background-position: -580px -162px !important;}
.icon.gray-love{background-position: -602px -162px !important;}
.icon.art{background-position: -629px -162px !important;}
.icon.detail-minus{background-position: -276px -211px !important;}
.icon.detail-minus:hover{background-position: -276px -237px !important;}
.icon.detail-plus{background-position: -302px -211px !important;}
.icon.detail-plus:hover,.upload-plus{background-position: -302px -237px !important;}
html[data-theme="dark"] .place-bid{color: #fff ;}
html[data-theme="dark"] .Overview .text-neutral{color: #9a9a9a;}
.drawer-side option:checked,.drawer-side option:hover { background-color: #D60000 !important; color: #fff; }
html[data-theme="dark"] .drawer-bid{color: #000 !important;}
.Metamask.icon {  background-position: -470px -333px !important;  width: 40px;  height: 40px;}
.WalletConnect.icon {  background-position: -524px -333px !important;  width: 40px;  height: 40px;}
.icon.close-red {  background-position: -494px -10px !important;  width: 20px;  height: 20px;}
.icon.camera{background-position: -410px -41px !important;  width: 26px;  height: 26px;}
select{background:url(../images/arrow.svg) no-repeat !important  ;background-position: right 20px center !important;}
.matic-input{background:url(../images/white-arrow.svg) no-repeat !important  ;background-position: right 20px center !important;}
/* toaster msg start */
.top-right-toast{z-index: 9999;border-radius: 0.5rem;width: 100%;--tw-text-opacity: 1;color: #000000;max-width: 25rem;--tw-bg-opacity: 1;box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1); animation: slideDownAndFadeIn 0.5s ease-out;}
.icon.green-checked{ height: 26px; width: 26px; background-position: -238px -161px !important;}
@keyframes slideDownAndFadeIn {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  50% {
    transform: translateY(10%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.successicon{width: 43px;height: 43px;background-position: -197px -460px !important;}
.erroricon{width: 43px;height: 43px;background-position: -242px -460px !important;}
.icon.see-more{ background-position: -107px -70px !important; height: 16px !important; width: 24px}
input:focus-visible {border-radius: 30px;outline: none;}
/* toaster msg end */
.channel-bg{background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-aokokFuIEj01QetjCEYS66WIACbMjeWxWg&usqp=CAU);}
.icon.circle-check{background-position:-344px -267px !important;}
.icon.channel-check{background-position: -170px -161px !important;}
.input:disabled{background-color: #e5e5e5 !important;}
.no-scrollbar::-webkit-scrollbar{display: none;}
.icon.add{background-position: -477px -161px !important;}
.icon.delete-icon{background-position: -522px -8px !important;}
.copy-check{background-position: -460px -9px !important;}
.icon.carousal-left-arrow{background-position: -288px -470px !important;  width: 30px;  height: 30px;}
.icon.carousal-left-arrow:hover{background-position: -288px -501px !important;  width: 30px;  height: 30px;}
.icon.carousal-right-arrow{background-position: -323px -470px !important;  width: 30px;  height: 30px;}
.icon.carousal-right-arrow:hover{background-position: -323px -501px !important;  width: 30px;  height: 30px;}
.trending-card{width: 300px;}
button.opacity-100{opacity: 1 !important;}
.dots{background-position: -333px -211px !important;}
.tooltip:before{font-size: 12px !important;background-color:#000 !important;color: #fff !important;font-weight: 400 !important;z-index: 9999 !important;}
.star.label::after{content: '*';color: #ff0000;}
.star.label{justify-content: flex-start;gap: 6px;}
.fileUploadText{color: rgba(0, 0, 0, 0.50);}
.browser{background-position: -99px -11px !important; width: 24px;height: 24px;position: absolute;top: 6px;left: 6px;}
.addtext{background-position: -123px -11px !important; width: 24px;height: 24px;}
.icon.link{background-position: -370px -265px !important;}
.radio:disabled{opacity: 0.6 !important;}
.role-text{overflow: hidden;  display: -webkit-box;  -webkit-line-clamp: 2;   -webkit-box-orient: vertical;  text-overflow: ellipsis;}
.warning{line-height: normal;}
.toastersuccess{background-position: -285px -386px !important;width: 42px;height: 42px;}
.erroricon{background-position:-285px -331px !important;width: 42px;height: 42px;}
.warningicon{background-position: -223px -329px !important;width: 42px;height: 42px;}
.successicon{background-position: -159px -330px !important;width: 42px;height: 42px;}
.closeerror{background-position: -108px -340px !important;width: 34px;height: 34px;}
.text-overlay{background: linear-gradient(180deg, #515151 35.19%, rgba(81, 81, 81, 0.00) 100%);  background-clip: text;  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;}
.bg-overlay{background: linear-gradient(90deg, #000000db 26.78%, rgba(0, 0, 0, 0.00) 99.06%),  #d3d3d347 -0.393px -46.098px / 101.887% 171.934% no-repeat;}
.icon.fb{height: 32px;width: 32px;background-position: -358px -465px !important;}
.icon.linkedin{height: 32px;width: 32px;background-position: -401px -465px !important;}
.icon.twit{height: 32px;width: 32px;background-position: -455px -465px !important;}
.icon.network{height: 32px;width: 32px;background-position: -498px -465px !important;}
.bg-banner{background: linear-gradient(to left, rgb(0 0 0 / 48%) 50%, rgba(255, 255, 255, 0) 80%);}
.fileupload{background: rgba(164, 170, 187, 0.2);border: 1px dashed rgba(0, 0, 0, 0.2);}
.warningicon{background-position: -223px -329px !important;width: 42px;height: 42px;}
.closewarning{background-position: -7px -340px !important;width: 34px;height: 34px;}
input[type='date']:disabled{background-color: #e5e5e5 !important;border-radius: 0 28px 28px 0;cursor: not-allowed;}
input::-webkit-calendar-picker-indicator {cursor: pointer;}
.global-list li:first-child,.global-list li:nth-child(3),.global-list li:nth-child(4),.global-list li:nth-child(2){border-left: 0;}
.global-list li:nth-child(2){border-right: 0;}
.global-list li:nth-child(3),.global-list li:last-child{border-bottom: 0;}
html[data-theme="dark"] .dark-textwhite,html[data-theme="dark"] .detail-table p{color: #fff !important;}
html[data-theme="dark"] button.text-base-100{color: #fff !important;}
html[data-theme="dark"] table tr{background-color: #353352;}
html[data-theme="light"] table tr:nth-child(odd){background-color: #F0EEEE;}
table tr th:first-child,table tr td:first-child{border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
table tr th:last-child,table tr td:last-child{border-top-right-radius: 8px;border-bottom-right-radius: 8px;}
html[data-theme="light"] .investments .tier-card{background: url(../images/cardbg-img.svg) no-repeat; background-size: cover;}
.bg-about{background:url(../images/bg-aboutbanner.svg) no-repeat;background-size: cover;background-position: bottom;}
.blockchain-shadow{box-shadow: 0px 4px 124px 0px rgba(0, 0, 0, 0.10);}
.choose-shadow{box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);}
.icon.refresh-icon{background-position: -333px -238px !important;height: 22px;width: 22px;scale: 0.8;}
button:disabled,button:disabled:hover{background-color: #d0d0d0 !important;cursor: not-allowed; color: #000 !important;pointer-events: inherit !important;}
@media (min-width:768px){
  .banner,.carousal-banner .carousel{  max-height: 500px;}
  .drawer-side .menu{min-width: 500px;}
}
@media (min-width: 1024px){
.container {  max-width: 960px !important;}
}
@media (min-width: 1200px){
  .container {  max-width: 1140px !important;}
  }
@media (max-width:1400){
  .container{
    max-width: 1140px;
  }
}
@media (min-width: 1400px){
  .container {max-width: 1320px!important;}
  }
@media (max-width: 767.98px){
  .global-list{right: -56px;}
  .drawer-side::-webkit-scrollbar{scrollbar-width: 0;display: none;}
  #mySidebar{position: absolute;z-index: 999;background: #cb7c7c;height: 100%;}
  #main{margin-left: 0 !important;padding: 0;}
  .copy-clip img+span{overflow: hidden;text-overflow: ellipsis;}
}